from freqtrade.strategy import IStrategy
from pandas import DataFrame


class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }}}
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["donchian_high"] = dataframe["high"].rolling({{ entry_window }}).max()
        dataframe["donchian_low"] = dataframe["low"].rolling({{ exit_window }}).min()
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        breakout = dataframe["close"] > dataframe["donchian_high"].shift(1)
        dataframe.loc[breakout & dataframe["donchian_high"].notna(), "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        exit_cond = dataframe["close"] < dataframe["donchian_low"].shift(1)
        dataframe.loc[exit_cond & dataframe["donchian_low"].notna(), "exit_long"] = 1
        return dataframe
