from freqtrade.strategy import IStrategy
from pandas import DataFrame
import talib.abstract as ta


class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }}}
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["sma_fast"] = ta.SMA(dataframe, timeperiod={{ fast_window }})
        dataframe["sma_slow"] = ta.SMA(dataframe, timeperiod={{ slow_window }})
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        cross_up = (dataframe["sma_fast"] > dataframe["sma_slow"]) & (dataframe["sma_fast"].shift(1) <= dataframe["sma_slow"].shift(1))
        dataframe.loc[cross_up & dataframe["sma_slow"].notna(), "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        cross_down = (dataframe["sma_fast"] < dataframe["sma_slow"]) & (dataframe["sma_fast"].shift(1) >= dataframe["sma_slow"].shift(1))
        dataframe.loc[cross_down & dataframe["sma_slow"].notna(), "exit_long"] = 1
        return dataframe
