from freqtrade.strategy import IStrategy
from pandas import DataFrame
import talib.abstract as ta

class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }} }
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["ha_close"] = (dataframe["open"] + dataframe["high"] + dataframe["low"] + dataframe["close"]) / 4.0
        dataframe["ha_open"] = (dataframe["open"].shift(1) + dataframe["close"].shift(1)) / 2.0
        dataframe["ema_filter"] = ta.EMA(dataframe, timeperiod={{ ema_filter_window }})
        dataframe["adx"] = ta.ADX(dataframe, timeperiod={{ adx_period }})
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        entry_cond = (dataframe["ha_close"] > dataframe["ha_open"]) & (dataframe["close"] > dataframe["ema_filter"]) & (dataframe["adx"] > {{ adx_threshold }})
        dataframe.loc[entry_cond, "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        exit_cond = (dataframe["ha_close"] < dataframe["ha_open"]) | (dataframe["close"] < dataframe["ema_filter"])
        dataframe.loc[exit_cond, "exit_long"] = 1
        return dataframe
