from freqtrade.strategy import IStrategy
from pandas import DataFrame
import talib.abstract as ta


class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }} }
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["rsi"] = ta.RSI(dataframe, timeperiod={{ rsi_period }})
        dataframe["cci"] = ta.CCI(dataframe, timeperiod={{ cci_period }})
        dataframe["ema_guard"] = ta.EMA(dataframe, timeperiod={{ trend_guard_ema }})
        dataframe["atr"] = ta.ATR(dataframe, timeperiod={{ atr_period }})
        dataframe["atr_pct"] = dataframe["atr"] / dataframe["close"] * 100.0
        dataframe["volume_ma"] = dataframe["volume"].rolling({{ volume_period }}).mean()
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        guard = dataframe["close"] >= dataframe["ema_guard"] * (1 - {{ max_distance_below_ema_pct }} / 100.0)
        entry = (
            (dataframe["rsi"] <= {{ rsi_buy }}) &
            (dataframe["cci"] <= {{ cci_buy }}) &
            guard &
            (dataframe["volume"] >= dataframe["volume_ma"] * {{ volume_multiplier }}) &
            (dataframe["atr_pct"] <= {{ max_atr_pct }})
        )
        dataframe.loc[entry & dataframe["ema_guard"].notna(), "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        exit_condition = (
            (dataframe["rsi"] >= {{ rsi_sell }}) |
            (dataframe["cci"] >= {{ cci_exit }}) |
            (dataframe["atr_pct"] >= {{ hard_atr_pct }})
        )
        dataframe.loc[exit_condition & dataframe["ema_guard"].notna(), "exit_long"] = 1
        return dataframe
