from freqtrade.strategy import IStrategy
from pandas import DataFrame
import talib.abstract as ta


class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }} }
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["ema_fast"] = ta.EMA(dataframe, timeperiod={{ ema_fast }})
        dataframe["ema_slow"] = ta.EMA(dataframe, timeperiod={{ ema_slow }})
        dataframe["adx"] = ta.ADX(dataframe, timeperiod={{ adx_period }})
        dataframe["atr"] = ta.ATR(dataframe, timeperiod={{ atr_period }})
        dataframe["atr_pct"] = dataframe["atr"] / dataframe["close"] * 100.0
        dataframe["volume_ma"] = dataframe["volume"].rolling({{ volume_period }}).mean()
        dataframe["volume_ratio"] = dataframe["volume"] / dataframe["volume_ma"]
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        liquidity_ok = dataframe["volume_ratio"] >= {{ volume_multiplier }}
        trend_ok = (dataframe["ema_fast"] > dataframe["ema_slow"]) & (dataframe["close"] > dataframe["ema_slow"])
        strength_ok = dataframe["adx"] >= {{ adx_min }}
        risk_ok = dataframe["atr_pct"] <= {{ max_atr_pct }}
        dataframe.loc[liquidity_ok & trend_ok & strength_ok & risk_ok, "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        exit_condition = (
            (dataframe["ema_fast"] < dataframe["ema_slow"]) |
            (dataframe["volume_ratio"] < 1.0) |
            (dataframe["atr_pct"] >= {{ hard_atr_pct }})
        )
        dataframe.loc[exit_condition & dataframe["ema_slow"].notna(), "exit_long"] = 1
        return dataframe
