from freqtrade.strategy import IStrategy
from pandas import DataFrame
import talib.abstract as ta


class {{ strategy_name }}(IStrategy):
    timeframe = "{{ timeframe }}"
    minimal_roi = {"0": {{ minimal_roi }}}
    stoploss = {{ stoploss }}
{{ common_class_block|indent(4, true) }}

    def populate_indicators(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe["rsi"] = ta.RSI(dataframe, timeperiod={{ rsi_period }})
        return dataframe

    def populate_entry_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe.loc[(dataframe["rsi"] < {{ buy_rsi }}) & dataframe["rsi"].notna(), "enter_long"] = 1
        return dataframe

    def populate_exit_trend(self, dataframe: DataFrame, metadata: dict) -> DataFrame:
        dataframe.loc[(dataframe["rsi"] > {{ sell_rsi }}) & dataframe["rsi"].notna(), "exit_long"] = 1
        return dataframe
